*.odg
user-management-service/venv
user-management-service/.idea
user-management-service/.vscode
user-management-service/.mypy_cache
bidirectional-communication-service_ts
cov.xml
cov_html
.coverage
pytest_cache
**/*.pyc
*.idea
